---
import Layout from '../../layouts/Layout.astro';
import data from '../../../db/visa';
import Related from '../../components/Related.astro';
import AdSense from '../../components/AdSense.astro';

const id = Astro.url.pathname.slice(1, Astro.url.pathname.lastIndexOf("/"))
const x = data.filter((x => x.route === id))[0]
const { path } = Astro.params;

if (!path) return Astro.redirect("/404");
const quizEnd = (+path + 1) > x.questions.length

const  q = x.questions[+path - 1]
const url = Astro.url.searchParams.get("r") || ""

const filteredData = data.filter(q=> q.route != id)


---


<Layout title={q.question + " - " + x.title  }, description={x.description} >
	<>
	<h1 style={{ marginTop: "0 !important" }} class=" text-lg font-medium md:text-3xl">
{  q.question }
     </h1>
     <AdSense />
      <p class="intro">
Please choose answer below        <br />
      </p>
      <div class="" id="answerContainer">
        {q.answers.map((answer, i)=> <button id={answer}>{answer.toUpperCase()}</button>)}
        <span class="hidden" id="correct" correct-answer={`${q.correct}`} next-page={`/${x.route}/${+path + 1}`} quiz-end={quizEnd} path-name={x.route}/>
      </div>

      <div class="h-[100px]  text-primary  hidden" id="loader" >
        <span class=" w-2 h-2 loader"></span>
        </div>  
        <AdSense />
        <Related filteredData={filteredData}/>
	</>
</Layout>

<script>
    const buttons = document.querySelectorAll("button")
    const dataSpan = document.querySelector("#correct")
    const answerContainer = document.querySelector("#answerContainer")
    const loader = document.querySelector("#loader")
    const correctAnswer = dataSpan?.getAttribute("correct-answer")
    const nextPage = dataSpan?.getAttribute("next-page")
    const quizEnd = dataSpan?.getAttribute("quiz-end")
    const path = dataSpan?.getAttribute("path-name")


    buttons.forEach(button => button.addEventListener("click", function(){
      loader?.classList.add("flex")
      answerContainer?.classList.add("hidden")
      loader?.classList.remove("hidden")

      setTimeout(function(){
        let r: string | number | null = new URLSearchParams(window.location.search).get('r');

        if(button.getAttribute("id") === correctAnswer && r) {
            r = +r + 1
          }

        if(quizEnd){
              window.location.href = `/${path}/quiz-result?r=${r}`;
        }else {
            window.location.href = nextPage  as string + `?r=${r}`;
        }
      }, 5000)

       
    }))
</script>

<style>

.loader {
  width: 8px;
  height: 8px;
  margin: 40px auto;
  opacity: 0.5;
  border-radius: 50%;

  box-shadow:
    0 -14px 0 rgba(127, 17, 224, 1),
    10px -10px 0 rgba(127, 17, 224, .8),
    14px 0px 1px rgba(127, 17, 224, .7),
    10px 10px 1px rgba(127, 17, 224, .6),
    0px 14px 2px rgba(127, 17, 224, .5),
    -10px 10px 2px rgba(127, 17, 224, .4),
    -14px 0px 3px rgba(127, 17, 224, .3),
    -10px -10px 3px rgba(127, 17, 224, .2);

  transform-origin: 50%;
  animation: load 0.5s steps(8, end) infinite;
}

@keyframes load {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
</style>