---
import Layout from '../../layouts/Layout.astro';
import data from '../../../db/visa'
import Related from '../../components/Related.astro';
import ADX from '../../components/ADX.astro';

const id = Astro.url.pathname.slice(1)
const x = data.filter((x => x.route === id))[0]

const t = x.questions.length
const filteredData = data.filter(q=> q.route != id)
---
<Layout title={x.title}, description={x.description} >
	<>
	<h1 style={{ marginTop: "0 !important" }} class=" text-lg font-medium md:text-3xl">
{   x.title
}      </h1>
<ADX id="ad1"/>
      <p class="intro">
       {x.description}
        <br />
      </p>
      <p class="m-1 font-bold text-primary">({t} questions)</p>
      <a href={`/${x.route}/${1}?r=0`}  ><button>Start Quiz</button></a>
      <ADX id="ad2"/>
      <Related filteredData={filteredData}/>
	</>
</Layout>


