---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// import ADX from '../components/ADX.astro';
import AdSense from '../components/AdSense.astro';
interface Props {
	title?: string;
  description?: string;
  url?: string
}
let siteUrl = "usa-canada-travel.englishcompositions.com"

const { title="U.S.A Canada Travel", description="Embark on an unforgettable cross-border journey with our USA Canada travel services. Discover the best routes and visa requirements for seamless travel between these two captivating countries. Whether you're planning a road trip, seeking flight deals, or exploring top attractions, we've got you covered. From luxury tours to budget-friendly options, our expertly crafted itineraries cater to every traveler. Explore scenic camping spots, indulge in RV rentals, or opt for family-friendly adventures. Start your USA Canada adventure today!", url=siteUrl } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="slide">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:url" content={url}>
    <meta property="og:site_name" content={title}>
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content={`https://${url}/assets/og.png`}>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content={url}>
    <meta name="twitter:creator" content={`https://${url}`}>
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={`https://${url}/assets/og.png`}>
    
   

    <script>
      // eslint-disable-next-line @typescript-eslint/ban-ts-comment
      //@ts-nocheck 
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '652904312869176');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=652904312869176&ev=PageView&noscript=1"
      /></noscript>
	</head>
	<body>
		<main class="">
			<Header />
            <div class="site-wrap prose" id="site-wrap prose lg:prose-xl">
            	<slot />
              <AdSense/>
            </div>
			<Footer/>
		</main>
	
	</body>
</html>

<script>
  setTimeout( async function(){
    for (let index = 0; index < 3; index++) {

      try {
         /* @ts-ignore */   
       (adsbygoogle = window.adsbygoogle || []).push({});
      } catch (error) {
        console.log(error)
      }
    }
  }, 2000)
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4562433335749182"
     crossorigin="anonymous"></script>


     <!-- <script> 
       // @ts-ignore
       window.googletag = window.googletag || {cmd: []};
       // @ts-ignore
       googletag.cmd.push(function() {
         // @ts-ignore
         googletag.defineSlot('/22476809480/englishcompositions.com', [[120, 600], [200, 200], [250, 250], [336, 280], [200, 446], [250, 360], [320, 480], [480, 320], [160, 600], [300, 250], [300, 600], [240, 400]], 'footer').addService(googletag.pubads());
         // @ts-ignore
         googletag.defineSlot('/22476809480/englishcompositions.com/ENGcomp_Content1', [[200, 446], [240, 400], [250, 360], [480, 320], [160, 600], [300, 600], [200, 200], [300, 250], [320, 480], [120, 600], [250, 250], [336, 280]], 'ad1').addService(googletag.pubads());
         // @ts-ignore
         googletag.defineSlot('/22476809480/englishcompositions.com/ENGcomp_Content2', [[160, 600], [300, 250], [480, 320], [300, 600], [200, 446], [240, 400], [250, 250], [336, 280], [200, 200], [320, 480], [120, 600], [250, 360]], 'ad2').addService(googletag.pubads());
    
     
     
         // @ts-ignore
         googletag.pubads().enableSingleRequest();
         // @ts-ignore
         googletag.enableServices();
       });
     
       const adUnits = ['footer', 'ad1', 'ad2']
     
       setTimeout(async function() {
         adUnits.forEach((x,i)=>{
           try {
          // @ts-ignore
           googletag.cmd.push(function() { googletag.display(x); });
           console.log(`loaded ad ${x}`)
     
           } catch (error) {
             console.log(error)
             
           }
         
         })
       }, 500 )
     </script>

<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>  -->







<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  -webkit-appearance: none;
}

html {
  font-size: 16px;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

:root {
  --p: black;
  --s: #fe7f2d;
}
main {
  padding-top: 70px;
  width: 100%;
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between; */
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  margin-inline: auto !important;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  /* --color-grey-500: hsl(265, 3%, 53%); */
  --color-grey-500: snow;
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #3d0264;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-500);
  color: var(--color-grey-700);
  /* font-family: "Roboto", sans-serif; */
  width: 100%;
}
body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0 !important;
  /* text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2); */
}

nav {
  background: var(--color-primary-700);
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
  /* position: relative; */
  z-index: 100;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

#menus {
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.logo a {
  font-size: 1.5rem !important;
  font-weight: bold;
  /* color: red */
}
.logoSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.logoSpan > svg {
  font-size: 2rem;
}

.menu-icon {
  color: white !important;
  /* width: 50px;
  aspect-ratio: 1; */
}

.menu-icon .fa-solid {
  font-size: 2rem;
}
#menus li {
  list-style: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.8rem;
}

#menus li:hover {
  transform: scale(1.1);
  color: var(--s);
  transition: all 0.3s;
}
#menus li:active {
  transform: scale(0.98);
  transition: all 0.3s;
}

/* footer */
.footer {
  width: 100%;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-primary-700);
  color: white;
  text-align: center;

  padding: 2rem;
}

.footer-menu {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.footer-menu a {
  /* text-decoration: none; */
  color: white;
}

.footer-menu a:hover {
  color: var(--s);
}

/* images */

.images-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* questions qrapper */

.site-wrap,
.about-wrap {
  width: 100%;

  margin: 10px auto;
  background: white;
  padding: 10px 3rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  /* transform: scale(0.98);
  transition: transform 0.5s; */
  max-width: 800px;
}

/* loader */
.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid var(--s);
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* whatsapp */

.wa-share {
  color: white;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.wa-share svg {
  width: 55px;
}

.facebook,
.whatsapp {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* gap: 10px; */

  padding: 1rem;

  width: 100%;
}

.wa-share .whatsapp {
  background: #24cc62;
}
.wa-share .facebook {
  text-decoration: none;
  background: #4b74db;
}

.wa-share a {
  border-radius: 10px;
}

.nextBTN {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  color: white;
}

.btn-primary {
  padding: 1rem 2rem;
  background: black;
  color: var(--s);
  font-size: 1.3rem;
  border-radius: 10px;
}

.left,
.right {
  width: 250px;
  height: 250px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-wrap,
.related-wrapper {
  display: flex !important;
  flex-direction: column;
}

/* questionContainer */

h2 {
  color: var(--color-primary-200);
  text-align: center;
  margin: 0.8rem 0;
  font-size: 1.5rem;
}

/* h2.title-container {
  width: 100%;
  max-width: 100%;
} */

.question-wrapper {
  width: 100%;
}

.questionContainer {
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 1rem;

  background: rgba(0, 0, 0, 0.05);
  padding: 1rem;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:center; */
  gap: 1rem;
}
.questionContainer h3 {
  text-align: left;
}
.questionTitle {
  min-height: 100px;
}

.answer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  color: var(--color-primary-300);

  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.answer-container.active {
  border: 1px solid var(--s);
}
.answer-container > * {
  cursor: pointer;
}

button {
  color: white;
  font-size: 1rem;
  background: var(--color-primary-500);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  width: 100%;
  max-width: 60%;
  min-width: 250px;
  margin: 0.5rem;
  margin-inline: auto;
  font-weight: bold;
  transition: all 0.3s ease;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
button > svg {
  font-size: 1.5rem;
}
button:disabled {
  color: rgb(234, 233, 233) !important;
  opacity: 0.5;
  background: gray !important;
}
button:hover {
  letter-spacing: 1.1px;
  transition: all 0.3s ease;
}

.share-title {
  color: var(--s);
  margin: 0.5rem;
  font-size: 1.1rem !important;
}
.share-description {
  margin: 0.2rem;
}

/* ul secondary */

ul .secondary {
  /* display: none; */
  display: flex;
}
ul .secondary li {
  margin: 1rem;
}

.share-container {
  margin-top: 0.5rem;
  border: 3px dashed green;
  padding: 0.5rem;
  text-align: center;
  max-width: 1200px;
  margin-inline: auto;
}

.ad-container {
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  height: 325px !important;
  min-width: 300px !important;
  overflow: "hidden";
}
.adHolder {
  height: 325px !important;
  min-width: 300px !important;
  margin-inline: auto !important;
  background: rgb(235, 232, 232);
  border-radius: 0.25rem !important;
  overflow: hidden !important;
}

.adHolder > ins {
  margin-inline: auto !important;
}

.disease-container {
  border: 1px solid var(--s);
  border-radius: 10px;
  padding: 0.5rem;
}
.related-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.related-title {
  color: var(--p);
  font-size: 2rem;
}

/* quiz start */


.center {
  display: flex;  
  flex-direction: row;
  
}

.quizContainer {
  border: 1px solid var(--color-primary-300);
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border-radius: 10px;
}

.quizContainer > input {
  width: 100%;
  max-width: 200px;
  margin: 1rem auto;
  border: 1px solid var(--color-primary-300);
  outline: none;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0.8rem;
  text-align: center;
  color: var(--color-primary-300);
  font-weight: bold;
  font-size: 1.3rem;
}

article {
  /* padding: 1rem; */
  text-align: left !important;
}

article > h2 {
  text-align: left !important;
}

article > p {
  margin: 1rem 0;
}

.llc {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.llc > svg {
  font-size: 1.3rem;
  color: var(--color-primary-300);
}

.articleHome {
  text-align: center !important;
  margin: 2rem 0;
}

.articleHome > h2 {
  text-align: center !important;
}

.progressContainer {
  background: var(--color-primary-300);
  width: 100%;
  height: 10px;
  border-radius: 10px;
  padding: 0.08rem 0.05rem;
  /* margin: 0.5rem 0; */
}

.progress {
  width: 0%;
  height: 100%;
  background: snow;
  border-radius: 10px;
}

/* share-container */
.share-container input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--color-primary-500);
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-inline: auto;
  width: 100%;
}

.share-buttons {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.share-button {
  font: inherit;
  cursor: pointer;
  background: #f51cfd;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--color-primary-700);
  font-weight: bold;
  transition: all 0.3s;
}

.share-button:hover {
  letter-spacing: 2px;
  transition: all 0.3s;
}
.share-button:active {
  scale: 0.9;
  transition: all 0.3s;
}

.share-button {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  background: #29d5de;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
}

.wa {
  background: rgb(7, 77, 7) !important;
  color: white;
}
.fb {
  background: #3b5998;
  color: white;
}

/* score-meanings */
.score-meanings {
  padding: 0;
}
.score-meanings > li {
  text-align: left;
  margin: 1rem 0;
  border: 1px solid var(--color-primary-300);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.testimonial {
  text-align: left;
}

/* answerWrapper */

.answerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 100%;

  background: white;
  text-align: left;
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: 0 5px 10px rgba(140, 13, 225, 0.3);
  cursor: pointer;
  height: 45px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.answer.active {
  scale: 0.9;
}
.no {
  background: var(--color-error-500);
  color: snow;
}
.yes {
  background: var(--color-success-500);
  color: snow;
}

.intro {
  font-size: 1.2rem;
}

.adHolder > svg {
  margin-top: 85px;
  width: 5rem;
}

@media screen and (max-width: 1170px) {
  main {
    padding-top: 50px;
    width: 100%;
    /* display: flex;
    align-items: center; */
    /* justify-content: space-between; */
  }
  .intro {
    font-size: 1rem;
  }
  .quizContainer {
    margin: 1rem auto;
  }
  .logo a {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    /* color: red */
  }
  h1 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0 !important;
  }
  h2 {
    font-size: 1.05rem !important;
    margin: 0.8rem 0 !important;
  }

  .site-wrap,
  .about-wrap {
    padding: 0.5rem 1rem;
  }

  .footer-menu {
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .logoSpan {
    font-size: 1rem;
  }
}

/* unscramble results */
.resultsContainer {
  margin-bottom: 1rem;
}
.resultsContainer > span {
  font-style: italic !important;
  color: var(--color-primary-700);
}

/* select input */
.selectInput {
  min-width: 200px !important;
  margin: 0.5rem auto !important;
}

#excerpt {
  text-decoration: none !important;
  text-decoration: dotted !important;
}

@media screen and (max-width: 2000px) {
  ul .secondary {
    position: fixed;
    background: var(--s);
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  ul .secondary li {
    margin: 0.5rem;
  }

  .offEl {
    display: none !important;
  }
}

</style>
